* {
  box-sizing: border-box;
}

:root {
  --bg: #f7f9fc;
  --text: #1f2933;
  --primary: #4f46e5;
  --secondary: #14b8a6;
  --accent: #f59e0b;
  --margin: 0.5rem;
}

body {
  margin: 0;
}

.container {
  position: relative;
  margin: var(--margin);
  width: calc(100dvw - var(--margin) * 2);
  height: calc(100dvh - var(--margin) * 2);
}

.container .layers {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  min-width: 200px;
  height: 100%;
  border: 1px solid var(--secondary);
  background-color: var(--bg);
}

.container #canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary);
  background-color: var(--bg);
}

.container .tools-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 0.5rem 0;
  width: max-content;
  display: flex;
  gap: 0.5rem;
}
